@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn{
        @apply bg-black text-white px-10 py-5 text-3xl;
    }
    .btn-white{
        @apply bg-white text-black px-10 py-5 text-3xl border-2 border-black;
    }
}

@layer base{
    :root{
        --primary-color : #fff;
        --card-Color : #FD8B92;
        --card-ColorText : #FD949B;
        --card-backColor : #F3F3F3;
        --stars : #FFB800;
    }
}